* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* SLIDER CSS */
.slider {
  position: relative;
  width: 640px;
  height: 640px;
  display: flex;
  overflow: hidden;
}

.slides-container {
  display: flex;
}

.slide {
  width: 640px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.prevSlide {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 50%;
}

.nextSlide {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  right: 0;
}

/* BUTTONS CSS */
.buttons {
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.8s ease-in-out;
}

.nextBtn {
  position: absolute;
  top: 48%;
  right: 1%;
}

.prevBtn {
  position: absolute;
  top: 48%;
  left: 1%;
}

.nextBtn:hover,
.prevBtn:hover {
  color: grey;
}

/* DOTS CSS */
.dots {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  border: 2px grey solid;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
  margin: 0 3px 0 3px;
  background-color: transparent;
  outline: none;
  transition: border-color 0.8s ease-in-out;
}

.dot:hover {
  border-color: white;
}

.active-dot {
  background-color: white;
}